Webtool/.DS_Store
Webtool/static/.DS_Store
.DS_Store
Webtool/static/SNE-OpenSN-Data/.DS_Store
__pycache__
Webtool/instance/
.DS_Store
Webtool/env/
Webtool/static/SourceData/NotionExport/
Webtool/static/SourceData/NotionExportMay22/