{% extends 'base.html' %}
{% block title %}
<div class="primary">
	<h1><b>Advanced Search</b></h1>
</div>
{% endblock %}

{% block content %}
<div class="new-margin">
	{% from "_formhelpers.html" import render_field %}

	<form method=post style="width:80%">
		{{ form.csrf_token }}
		<div class="form-group ">
			<label>
				<p class="headings">Search by object name</p>
			</label>
			{{ render_field(form.object_name, class="form-control",
			placeholder="Enter GRB or SN ID (e.g. SN1998bw or GRB200826A)") }}

		</div>

		<div class="form-row">

			<div class="col-auto" style="margin: 0px;">
				<label>
					<p class="headings">Min $E_{iso}$ [ergs]</p>
				</label>
				{{ render_field(form.min_eiso, class="form-control ", placeholder="e.g. 1e52") }}
			</div>

			<div class="col-auto">
				<label>
					<p class="headings">Max $E_{iso}$ [ergs]</p>
				</label>
				{{ render_field(form.max_eiso, class="form-control ", placeholder="e.g. 1e54") }}
			</div>

			<div class="col-auto">
				<label>
					<p class="headings">Min Redshift</p>
				</label>
				{{ render_field(form.min_z, class="form-control ", placeholder="e.g. 0.1") }}

			</div>
			<div class="col-auto">
				<label>
					<p class="headings">Max Redshift</p>
				</label>
				{{ render_field(form.max_z, class="form-control ", placeholder="e.g. 1") }}
			</div>

			<div class="col-auto">
				<label>
					<p class="headings">Min $T_{90}$ [sec]</p>
				</label>
				{{ render_field(form.min_t90, class="form-control ", placeholder="e.g. 10") }}

			</div>

			<div class="col-auto">
				<label>
					<p class="headings">Max $T_{90}$ [sec]</p>
				</label>
				{{ render_field(form.max_t90, class="form-control ", placeholder="e.g. 1200") }}
			</div>

			<div class="col-auto" style="margin: 0px;">
				<label>
					<p class="headings">Min $M_{Ni}$ [$M_{\odot}$]</p>
				</label>
				{{ render_field(form.min_nim, class="form-control ", placeholder="e.g. 0.1") }}

			</div>

			<div class="col-auto">
				<label>
					<p class="headings">Max $M_{Ni}$ [$M_{\odot}$]</p>
				</label>
				{{ render_field(form.max_nim, class="form-control", placeholder="e.g. 0.2") }}
			</div>

			<div class="col-auto">
				<label>
					<p class="headings">Min $M_{Ej}$ [$M_{\odot}$]</p>
				</label>
				{{ render_field(form.min_ejm, class="form-control", placeholder="e.g. 0.1") }}

			</div>

			<div class="col-auto">
				<label>
					<p class="headings">Max $M_{Ej}$ [$M_{\odot}$]</p>
				</label>
				{{ render_field(form.max_ejm, class="form-control", placeholder="e.g. 0.2") }}
			</div>

			<div class="col-auto">
				<label>
					<p class="headings">Min $E_{p}$ [keV]</p>
				</label>
				{{ render_field(form.min_epeak, class="form-control", placeholder="e.g. 100") }}

			</div>

			<div class="col-auto">
				<label>
					<p class="headings">Max $E_{p}$ [keV]</p>
				</label>
				{{ render_field(form.max_epeak, class="form-control", placeholder="e.g. 100") }}
			</div>

			<div class="col-auto">
				<label>
					<p class="headings">Min $E_{k}$ (SN) [ergs]</p>
				</label>
				{{ render_field(form.min_ek, class="form-control", placeholder="e.g. 1e52") }}

			</div>

			<div class="col-auto">
				<label>
					<p class="headings">Min $E_{k}$ (SN) [ergs]</p>
				</label>
				{{ render_field(form.max_ek, class="form-control", placeholder="e.g. 1e52") }}
			</div>
		</div>




		<div class="">
			<label>
				{{render_field(form.submit2, class="btn btn-warning btn-lg ")}}
		</div>


	</form>
</div>
<div class="primary">
	{% with messages = get_flashed_messages(with_categories=true) %}
	<!-- {% if messages %}
    <ul class=flashes> -->
	{% for category, message in messages %}
	<p class="error"><b>WARNING!!!</b> {{ message }}
		{% endfor %}
		</ul>
		<!-- {% endif %} -->
		{% endwith %}
	<h2><b>Known Associations</b></h2>

	<p>The table below displays some basic parameters for the known GRB-SN associations. You can add filters using the
		form above, you can filter by multiple parameters at a time. If you would like to download the
		table click <a href="{{ url_for('get_advsearch_table', query=mid_query, varlist=varlist)}}">here</a>. The table
		below only displays part of the
		data stored in the database. The download will include all information stored within the database as a .txt
		file.
	</p>

	<p>
		If you wish to download all of the observations for the events you have selected click <a
			href="{{ url_for('get_observations', directory_list=event_list)}}">here</a>.
	</p>


	<!-- Table of all the sources -->
	<table class="styled-table">
		<thead>
			<tr>
				<th scope="col"><b>GRB</b></th>
				<th scope="col"><b>SN</b></th>
				<th scope="col"><b>E$_{iso}$ [ergs]</b></th>
				<th scope="col"><b>z</b></th>
				<th scope="col"><b>$T_{90}$ [sec]</b></th>
				<th scope="col"><b>$M_{Ej}$ [$M_{\odot}$]</b></th>
				<th scope="col"><b>$M_{Ni}$ [$M_{\odot}$]</b></th>
				<th scope="col"><b>$E_{p}$ [keV]</b></th>
				<th scope="col"><b>$E_{k}$ (SN) [ergs]</b></th>
			</tr>
		</thead>

		<tbody>
			{% for i in range(data|length) %}
			<tr>
				<!-- GRB and SN have a name -->
				{% if data[i][0]!=None and data[i][1]!=None %}
				{% if data[i][1][0]!="2" and data[i][1][0]!="1" %}
				<td><a href="/GRB{{ data[i][0] }}-{{ data[i][1] }}" target='_blank'>{{ data[i][0] }}</td>
				<td><a href="/GRB{{ data[i][0] }}-{{ data[i][1] }}" target='_blank'>{{ data[i][1] }}</td>
				{% else %}
				<td><a href="/GRB{{ data[i][0] }}-SN{{ data[i][1] }}" target='_blank'>{{ data[i][0] }}</td>
				<td><a href="/GRB{{ data[i][0] }}-SN{{ data[i][1] }}" target='_blank'>{{ data[i][1] }}</td>
				{% endif %}
				<!-- GRB has name -->
				{% elif data[i][0]!=None and data[i][1]==None %}
				<td><a href="/GRB{{ data[i][0] }}" target='_blank'>{{ data[i][0] }}</td>
				<td> </td>
				<!-- SN has a name -->
				{% elif data[i][0]==None and data[i][1]!=None %}
				{% if data[i][1][0]=="1" and data[i][1][0]=="2" %}
				<td> </td>
				<td><a href="/{{ data[i][1] }}" target='_blank'>{{ data[i][1] }}</td>
				{% else %}
				<td> </td>
				<td><a href="/SN{{ data[i][1] }}" target='_blank'>{{ data[i][1] }}</td>
				{% endif %}
				{% endif %}

				<!-- EISO -->
				{% if data[i][2] != None %}
				<td>{{ data[i][2] }}</td>
				{% else %}
				<td> </td>
				{% endif %}

				<!-- Z -->
				{% if data[i][3] != None %}
				<td>{{ data[i][3] }}</td>
				{% else %}
				<td> </td>
				{% endif %}

				<!-- T90 -->
				{% if data[i][4] != None %}
				<td>{{ data[i][4] }}</td>
				{% else %}
				<td> </td>
				{% endif %}

				<!-- Ejecta mass -->
				{% if data[i][5] != None %}
				<td>{{ data[i][5] }}</td>
				{% else %}
				<td> </td>
				{% endif %}

				<!-- Nickel mass -->
				{% if data[i][6] != None %}
				<td>{{ data[i][6] }}</td>
				{% else %}
				<td> </td>
				{% endif %}

				<!-- Epeak -->
				{% if data[i][7] != None %}
				<td>{{ data[i][7] }}</td>
				{% else %}
				<td> </td>
				{% endif %}

				<!-- Ek -->
				{% if data[i][8] != None %}
				<td>{{ data[i][8] }}</td>
				{% else %}
				<td> </td>
				{% endif %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}