<!doctype html>
<html lang="en">
<head>
    
    <!--Use the bootstrap css framework-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">



    <!-- Load the style.css sheet -->

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">

    <title>GRBSNTool</title>
    </head>

    <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
            <a class="navbar-brand" href="/">Home</a>
              <ul class="navbar" id="navbarNavAltMarkup">
                <ul class="navbar-nav">
                  <a class="nav-item nav-link" href="/contact">Contact</a>
                  <a class="nav-item nav-link" href="/docs">About</a>
                  <a class="nav-item nav-link" href="/graphing">Graphs</a>
                </ul>


                <!-- Dropdown Menu -->
                <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Catalogue
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                    {%for i in range(0, number1)%}
                        <a class="dropdown-item" href="/{{grbs[i]}}">{{grbs[i]}}</a>
                    {%endfor%}
                </ul>
                  </li>
        </nav>
        
        
        <!-- Junk -->

        
        <!-- java script for things like nav bars 
            Gives us styles from bootstrap-->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <!-- /*HTML Latex*/ -->
        <script type="text/x-mathjax-config">
        MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});</script>
        <script type="text/javascript"
        src="http://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

        
    <body>
        {% block title %}{% endblock %}
        
        {% block content %}{% endblock %}
    </body>
    
</html>