{% extends 'base.html' %}
<head>
  <!-- The stuff to do with the X-ray plot -->

<link
    href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.2.0/bokeh.min.css"
    rel="stylesheet" type="text/css">
<link
    href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.2.0/bokeh-widgets.css"
    rel="stylesheet" type="text/css">
<link
    href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.2.0/bokeh-tables.css"
    rel="stylesheet" type="text/css">

</head>
<body>


<!-- Get the sources for each piece of the data -->
<!-- First we get all the references -->

<!--The page title -->
<!-- This will be the name of the GRB and an associated SN if applicable -->
{% block title %} 
<!-- Take care of AT Names for the SNs -->

{% if 'AT' in event[0]['SNe']|string()%}
  {% if event[0]['SNe'] == None %}
    <h2> <b>GRB{{ event[0]['GRB']}} / No SN Name (Photometric only) </b></h2>
  {% elif event[0]['GRB'] == None %}
    <h2> <b>No GRB Name / SN{{ event[0]['SNe']}} </b></h2>
  {% else %}
    <h2> <b>GRB{{ event[0]['GRB']}} / SN{{ event[0]['SNe'] }} </b></h2>
  {% endif %}
{%else%}
  {% if event[0]['SNe'] == None %}
    <h2> <b>GRB{{ event[0]['GRB']}} / No SN Name (Photometric only) </b></h2>
  {% elif event[0]['GRB'] == None %}
    <h2> <b>No GRB Name / SN{{ event[0]['SNe']}} </b></h2>
  {% else %}
    <h2> <b>GRB{{ event[0]['GRB']}} / SN{{ event[0]['SNe'] }} </b></h2>
  {% endif %}
{%endif%}
{% endblock %}

{% block content %}
<div>
    <table style="width:40%">
  <tr>
    <th>GRB Parameter</th>
    <th>Value</th>
    <th>Unit</th> 
  </tr>
  <tr>
    <td>E$_{iso}$</td>
    
    <td>
      {% for i in range(event|length) %}
        {% if event[i]['e_iso'] != None %}
          {% if event[i]['PrimarySources'] != None %}

            {{ event[i]['e_iso'] }} <sup><a href="{{event[i]['PrimarySources']}}" target = '_blank'>{{i+1}} </a></sup> <br>
          {% else %}
            {{ event[i]['e_iso'] }} <sup><a href="{{event[i]['SecondarySources']}}" target = '_blank'>{{i+1}} </a></sup> <br> 
          {% endif %}    
        {% endif %}
      {% endfor %}
    </td> 

    <td>erg</td>
  </tr>
 
  <tr>
    <td>E$_p$</td>
    <td>{% for i in range(event|length) %}
          {% if event[i]['E_p'] != None %}
            {% if event[i]['PrimarySources'] != None %}

              {{ event[i]['E_p'] }} <sup><a href="{{event[i]['PrimarySources']}}" target = '_blank'>{{i+1}} </a></sup> <br>
            {% else %}
              {{ event[i]['E_p'] }} <sup><a href="{{event[i]['SecondarySources']}}" target = '_blank'>{{i+1}} </a></sup> <br> 
            {% endif %}
          {% endif %}
        {% endfor %}
    </td>
    <td>keV</td> 
  </tr>
  <tr>
    <td>z</td>
    <td>
    {% for i in range(event|length) %}
        {% if event[i]['z'] != None %}
          {% if event[i]['PrimarySources'] != None %}

            {{ event[i]['z'] }} <sup><a href="{{event[i]['PrimarySources']}}" target = '_blank'>{{i+1}} </a></sup> <br>
          {% else %}
            {{ event[i]['z'] }} <sup><a href="{{event[i]['SecondarySources']}}" target = '_blank'>{{i+1}} </a></sup> <br> 
          {% endif %}
        {% endif %}
      {% endfor %}
    </td>
    <td></td> 
  </tr>
  <tr>
    <td>T$_{90}$</td>
    <td>
    {% for i in range(event|length) %}
        {% if event[i]['T90'] != None %}
          {% if event[i]['PrimarySources'] != None %}

            {{ event[i]['T90'] }} <sup><a href="{{event[i]['PrimarySources']}}" target = '_blank'>{{i+1}} </a></sup> <br>
          {% else %}
            {{ event[i]['T90'] }} <sup><a href="{{event[i]['SecondarySources']}}" target = '_blank'>{{i+1}} </a></sup> <br> 
          {% endif %}  
        {% endif %}
      {% endfor %}
    </td>
    <td>sec</td> 
  </tr>
  <tr>
    <td>p</td>
    <td>
      {% for i in range(event|length) %}
        {% if event[i]['p'] != None %}
          {% if event[i]['PrimarySources'] != None %}

            {{ event[i]['p'] }} <sup><a href="{{event[i]['PrimarySources']}}" target = '_blank'>{{i+1}} </a></sup> <br>
          {% else %}
            {{ event[i]['p'] }} <sup><a href="{{event[i]['SecondarySources']}}" target = '_blank'>{{i+1}} </a></sup> <br> 
          {% endif %}
        {% endif %}
      {% endfor %}
    </td>
    <td></td> 
  </tr>
  <tr>
    <td>n</td>
    <td> 
      {% for i in range(event|length) %}
        {% if event[i]['n'] != None %}
          {% if event[i]['PrimarySources'] != None %}

            {{ event[i]['n'] }} <sup><a href="{{event[i]['PrimarySources']}}" target = '_blank'>{{i+1}} </a></sup> <br>
          {% else %}
            {{ event[i]['n'] }} <sup><a href="{{event[i]['SecondarySources']}}" target = '_blank'>{{i+1}} </a></sup> <br> 
          {% endif %} 
        {% endif %}
      {% endfor %}
    </td>
    <td>cm$^{-3}$</td> 
  </tr>
  <tr>
    <td>$\theta_{jet}$</td>
    <td>
      {% for i in range(event|length) %}
        {% if event[i]['open_deg'] != None %}
          {% if event[i]['PrimarySources'] != None %}

            {{ event[i]['open_deg'] }} <sup><a href="{{event[i]['PrimarySources']}}" target = '_blank'>{{i+1}} </a></sup> <br>
          {% else %}
            {{ event[i]['open_deg'] }} <sup><a href="{{event[i]['SecondarySources']}}" target = '_blank'>{{i+1}} </a></sup> <br> 
          {% endif %} 
        {% endif %}
      {% endfor %}
    </td>
    <td>degrees</td> 
  </tr>
  <tr>
    <td>RA</td>
    <td>
      {% if radec[0]['ra'] != None %}
          {{ radec[0]['ra'] }} <br>
      {% endif %}
    </td>
    <td>degrees</td> 
  </tr>
  <tr>
    <td>Dec</td>
    <td>
      {% if radec[0]['dec'] != None %}
          {{ radec[0]['dec'] }} <br>
      {% endif %}
    </td>
    <td>degrees</td> 
  </tr>
</table>


<table style="width:40%">
 <tr>
    <th>SN Parameter</th>
    <th>Value</th>
    <th>Unit</th> 
  </tr>
  <tr>
    <td>E$_k$</td>
    <td>
      {% for i in range(event|length) %}
        {% if event[i]['E_k'] != None %}
          {% if event[i]['PrimarySources'] != None %}

            {{ event[i]['E_k'] }} <sup><a href="{{event[i]['PrimarySources']}}" target = '_blank'>{{i+1}} </a></sup> <br>
          {% else %}
            {{ event[i]['E_k'] }} <sup><a href="{{event[i]['SecondarySources']}}" target = '_blank'>{{i+1}} </a></sup> <br> 
          {% endif %}
        {% endif %}
      {% endfor %}
    </td>
    <td>erg</td> 
  </tr>
  <tr>
    <td>M$_{Ni}$</td>
    <td>
      {% for i in range(event|length) %}
        {% if event[i]['ni_m'] != None %}
          {% if event[i]['PrimarySources'] != None %}

            {{ event[i]['ni_m'] }} <sup><a href="{{event[i]['PrimarySources']}}" target = '_blank'>{{i+1}} </a></sup> <br>
          {% else %}
            {{ event[i]['ni_m'] }} <sup><a href="{{event[i]['SecondarySources']}}" target = '_blank'>{{i+1}} </a></sup> <br> 
          {% endif %}
        {% endif %}
      {% endfor %}
    </td>
    <td>M$_{\odot}$</td> 
  </tr>
  <tr>
    <td>M$_{Ej}$</td>
    <td>
      {% for i in range(event|length) %}
        {% if event[i]['ej_m'] != None %}
          {% if event[i]['PrimarySources'] != None %}

            {{ event[i]['ej_m'] }} <sup><a href="{{event[i]['PrimarySources']}}" target = '_blank'>{{i+1}} </a></sup> <br>
          {% else %}
            {{ event[i]['ej_m'] }} <sup><a href="{{event[i]['SecondarySources']}}" target = '_blank'>{{i+1}} </a></sup> <br> 
          {% endif %}
        {% endif %}
      {% endfor %}
    </td>
    <td>M$_{\odot}$</td> 
  </tr>
  <tr>
    <td>t$_{peak}$</td>
    <td>
      {% for i in range(event|length) %}
        {% if event[i]['t_peak'] != None %}
          {% if event[i]['PrimarySources'] != None %}

            {{ event[i]['t_peak'] }} <sup><a href="{{event[i]['PrimarySources']}}" target = '_blank'>{{i+1}} </a></sup> <br>
          {% else %}
            {{ event[i]['t_peak'] }} <sup><a href="{{event[i]['SecondarySources']}}" target = '_blank'>{{i+1}} </a></sup> <br> 
          {% endif %} 
        {% endif %}
      {% endfor %}
    </td>
    <td>days (rest frame I think but need to make sure)</td> 
  </tr>
  <tr>
    <td>Peak $m_V$ (set it so the band will change if needed)</td>
    <td></td>
    <td>Unavailable yet</td> 
  </tr>
  <tr>
    <td>v$_{photospheric}$</td>
    <td>
      {% for i in range(event|length) %}
        {% if event[i]['v_photospheric'] != None %}
          {% if event[i]['PrimarySources'] != None %}

            {{ event[i]['v_photospheric'] }} <sup><a href="{{event[i]['PrimarySources']}}" target = '_blank'>{{i+1}} </a></sup> <br>
          {% else %}
            {{ event[i]['v_photospheric'] }} <sup><a href="{{event[i]['SecondarySources']}}" target = '_blank'>{{i+1}} </a></sup> <br> 
          {% endif %}
        {% endif %}
      {% endfor %}
    </td>
    <td>km s$^{-1}$</td> 
  </tr>
  <tr>
    <td>v$_{Fe}$</td>
    <td>
      {% for i in range(event|length) %}
        {% if event[i]['v_Fe_expansion'] != None %}
          {% if event[i]['PrimarySources'] != None %}

            {{ event[i]['v_Fe_expansion'] }} <sup><a href="{{event[i]['PrimarySources']}}" target = '_blank'>{{i+1}} </a></sup> <br>
          {% else %}
            {{ event[i]['v_Fe_expansion'] }} <sup><a href="{{event[i]['SecondarySources']}}" target = '_blank'>{{i+1}} </a></sup> <br> 
          {% endif %}
        {% endif %}
      {% endfor %}
    </td>
    <td>km s$^{-1}$</td> 
  </tr>
  <tr>
    <td>v$_{Si}$</td>
    <td>
      {% for i in range(event|length) %}
        {% if event[i]['v_Si_expansion'] != None %}
          {% if event[i]['PrimarySources'] != None %}

            {{ event[i]['v_Si_expansion'] }} <sup><a href="{{event[i]['PrimarySources']}}" target = '_blank'>{{i+1}} </a></sup> <br>
          {% else %}
            {{ event[i]['v_Si_expansion'] }} <sup><a href="{{event[i]['SecondarySources']}}" target = '_blank'>{{i+1}} </a></sup> <br> 
          {% endif %}
        {% endif %}
      {% endfor %}
    </td>
    <td>km s$^{-1}$</td> 
  </tr>

</table>
</div>

<!-- Table of references -->
<div>
  <table style="width:80%">
    <tr>
    <th>Footnote</th>
    <th>Reference</th> 
  </tr>

  {% for i in range(event|length) %}
    {% if event[i]['PrimarySources']!=None %}
      <tr>
        <td><a href="{{event[i]['PrimarySources']}}" target = '_blank'>{{i+1}} </a></td>
        <td>{{dict[event[i]['PrimarySources']][:-5]}} <b>{{dict[event[i]['PrimarySources']][-5:]}}</b>: <a href="{{event[i]['PrimarySources']}}" target = '_blank'>{{event[i]['PrimarySources']}} </a></td>
      </tr>
    {% elif event[i]['SecondarySources']!=None %}
      <tr>
        <td><a href="{{event[i]['SecondarySources']}}" target = '_blank'>{{i+1}} </a></td>
        <td>{{dict2[event[i]['SecondarySources']][:-5]}} <b>{{dict2[event[i]['SecondarySources']][-5:]}}</b>: <a href="{{event[i]['SecondarySources']}}" target = '_blank'>{{event[i]['SecondarySources']}} </a></td>
      </tr>
    {% endif %}  
  {% endfor %}
  </table>
  
</div>

<!-- Xray plot -->
<div>
<h2><b>Data</b></h2>
<!-- References -->

<!-- <p>{{ data }}</p> -->
<!-- The stuff to do with the X-ray plot -->

  {{ div|safe }}
  {{ script|safe }}
</div>


</body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.3.1/bokeh.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.3.1/bokeh-widgets.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.3.1/bokeh-tables.js"></script>



</html>
{% endblock %}
