{% extends 'base.html' %}

<head>
  <!-- The stuff to do with the X-ray plot -->

  <link href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.4.2/bokeh.min.css" rel="stylesheet" type="text/css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.4.2/bokeh-widgets.css" rel="stylesheet" type="text/css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.4.2/bokeh-tables.css" rel="stylesheet" type="text/css">

</head>

<body>
  {% block title %}
  <div class="primary">
    <!-- Get the sources for each piece of the data -->
    <!-- First we get all the references -->

    <!--The page title -->
    <!-- This will be the name of the GRB and an associated SN if applicable -->

    <!-- Take care of AT Names for the SNs -->

    {% if 'AT' in event[0]['SNe']|string() or 'iPTF' in event[0]['SNe']|string()%}
    {% if event[0]['SNe'] == None %}
    {% elif event[0]['GRB'] == None %}
    <h2> <b>No GRB Name / {{ event[0]['SNe']}} </b></h2>
    <a role="button" class="btn btn-primary btn-sm" style="border-radius: 10px; font-size: 1.3em; border-color: #6e5494;
          background-color: #6e5494;" href="https://github.com/GabrielF98/GRBSNWebtool/tree/{{ latest_release }}/Webtool/static/SourceData/{{
          event[0]['SNe']}}">
      <img src="/static/stats/github-mark-white.png" width="30" height="30" alt="GitHub link" class="shift-up">
      View this event on GitHub
    </a>
    <a role="button" class="btn btn-primary btn-sm" style="border-radius: 10px; font-size: 1.3em; color: black; border-color: #FFA500;
                        background-color: #FFA500;"
      href="https://github.com/GabrielF98/GRBSNWebtool/issues/new/choose">
      <img src="/static/stats/github-mark-white.png" width="30" height="30" alt="GitHub link" class="shift-up">
      Report an issue
    </a>

    <a role="button" class="btn btn-primary btn-sm" style="border-radius: 10px; font-size: 1.3em; color: black; border-color: #B2DFDB;
                            background-color: #B2DFDB;" href="{{ url_for('get_table', event_id=event[0]['SNe'])}}">
      Download tables
    </a>

    <a role="button" class="btn btn-primary btn-sm" style="border-radius: 10px; font-size: 1.3em; color: black; border-color: #B2DFDB;
                                background-color: #B2DFDB;"
      href="{{ url_for('get_files2', directory=event[0]['SNe'])}}">
      Download observations
    </a>

    {% else %}
    <h2> <b>GRB{{ event[0]['GRB']}} / {{ event[0]['SNe'] }} </b></h2>
    <a role="button" class="btn btn-primary btn-sm" style="border-radius: 10px; font-size: 1.3em; border-color: #6e5494;
          background-color: #6e5494;" href="https://github.com/GabrielF98/GRBSNWebtool/tree/{{ latest_release }}/Webtool/static/SourceData/GRB{{
          event[0]['GRB']}}-{{
          event[0]['SNe']}}">
      <img src="/static/stats/github-mark-white.png" width="30" height="30" alt="GitHub link" class="shift-up">
      View this event on GitHub
    </a>
    <a role="button" class="btn btn-primary btn-sm" style="border-radius: 10px; font-size: 1.3em; color: black; border-color: #FFA500;
                        background-color: #FFA500;"
      href="https://github.com/GabrielF98/GRBSNWebtool/issues/new/choose">
      <img src="/static/stats/github-mark-white.png" width="30" height="30" alt="GitHub link" class="shift-up">
      Report an issue
    </a>
    <a role="button" class="btn btn-primary btn-sm" style="border-radius: 10px; font-size: 1.3em; color: black; border-color: #B2DFDB;
                                background-color: #B2DFDB;"
      href="{{ url_for('get_table', event_id='GRB'+event[0]['GRB']+'-'+event[0]['SNe'])}}">
      Download tables
    </a>
    <a role="button" class="btn btn-primary btn-sm" style="border-radius: 10px; font-size: 1.3em; color: black; border-color: #B2DFDB;
                                    background-color: #B2DFDB;"
      href="{{ url_for('get_files2', directory='GRB'+event[0]['GRB']+'-'+event[0]['SNe'])}}">
      Download observations
    </a>

    {% endif %}
    {%else%}
    {% if event[0]['SNe'] == None %}
    <h2> <b>GRB{{ event[0]['GRB']}} / No SN Name (Photometric only) </b></h2>
    <a role="button" class="btn btn-primary btn-sm" style="border-radius: 10px; font-size: 1.3em; border-color: #6e5494;
          background-color: #6e5494;" href="https://github.com/GabrielF98/GRBSNWebtool/tree/{{ latest_release }}/Webtool/static/SourceData/GRB{{
          event[0]['GRB']}}">
      <img src="/static/stats/github-mark-white.png" width="30" height="30" alt="GitHub link" class="shift-up">
      View this event on GitHub
    </a>
    <a role="button" class="btn btn-primary btn-sm" style="border-radius: 10px; font-size: 1.3em; color: black; border-color: #FFA500;
                        background-color: #FFA500;"
      href="https://github.com/GabrielF98/GRBSNWebtool/issues/new/choose">
      <img src="/static/stats/github-mark-white.png" width="30" height="30" alt="GitHub link" class="shift-up">
      Report an issue
    </a>

    <a role="button" class="btn btn-primary btn-sm" style="border-radius: 10px; font-size: 1.3em; color: black; border-color: #B2DFDB;
                            background-color: #B2DFDB;"
      href="{{ url_for('get_table', event_id='GRB'+event[0]['GRB'])}}">
      Download tables
    </a>
    <a role="button" class="btn btn-primary btn-sm" style="border-radius: 10px; font-size: 1.3em; color: black; border-color: #B2DFDB;
                                    background-color: #B2DFDB;"
      href="{{ url_for('get_files2', directory='GRB'+event[0]['GRB'])}}">
      Download observations
    </a>

    {% elif event[0]['GRB'] == None %}
    <h2> <b>No GRB Name / SN{{ event[0]['SNe']}} </b></h2>

    <a role="button" class="btn btn-primary btn-sm" style="border-radius: 10px; font-size: 1.3em; border-color: #6e5494;
      background-color: #6e5494;" href="https://github.com/GabrielF98/GRBSNWebtool/tree/{{ latest_release }}/Webtool/static/SourceData/SN{{
      event[0]['SNe']}}">
      <img src="/static/stats/github-mark-white.png" width="30" height="30" alt="GitHub link" class="shift-up">
      View this event on GitHub
    </a>
    <a role="button" class="btn btn-primary btn-sm" style="border-radius: 10px; font-size: 1.3em; color: black; border-color: #FFA500;
                        background-color: #FFA500;"
      href="https://github.com/GabrielF98/GRBSNWebtool/issues/new/choose">
      <img src="/static/stats/github-mark-white.png" width="30" height="30" alt="GitHub link" class="shift-up">
      Report an issue
    </a>

    <a role="button" class="btn btn-primary btn-sm" style="border-radius: 10px; font-size: 1.3em; color: black; border-color: #B2DFDB;
                            background-color: #B2DFDB;"
      href="{{ url_for('get_table', event_id='SN'+event[0]['SNe'])}}">
      Download tables
    </a>
    <a role="button" class="btn btn-primary btn-sm" style="border-radius: 10px; font-size: 1.3em; color: black; border-color: #B2DFDB;
                                    background-color: #B2DFDB;"
      href="{{ url_for('get_files2', directory='SN'+event[0]['SNe'])}}">
      Download observations
    </a>

    {% else %}
    <h2> <b>GRB{{ event[0]['GRB']}} / SN{{ event[0]['SNe'] }} </b></h2>
    <a role="button" class="btn btn-primary btn-sm" style="border-radius: 10px; font-size: 1.3em; border-color: #6e5494;
          background-color: #6e5494;" href="https://github.com/GabrielF98/GRBSNWebtool/tree/{{ latest_release }}/Webtool/static/SourceData/GRB{{ event[0]['GRB']}}-SN{{
          event[0]['SNe']}}">
      <img src="/static/stats/github-mark-white.png" width="30" height="30" alt="GitHub link" class="shift-up">
      View this event on GitHub
    </a>
    <a role="button" class="btn btn-primary btn-sm" style="border-radius: 10px; font-size: 1.3em; color: black; border-color: #FFA500;
                        background-color: #FFA500;"
      href="https://github.com/GabrielF98/GRBSNWebtool/issues/new/choose">
      <img src="/static/stats/github-mark-white.png" width="30" height="30" alt="GitHub link" class="shift-up">
      Report an issue
    </a>

    <a role="button" class="btn btn-primary btn-sm" style="border-radius: 10px; font-size: 1.3em; color: black; border-color: #B2DFDB;
                            background-color: #B2DFDB;"
      href="{{ url_for('get_table', event_id='GRB'+event[0]['GRB']+'-SN'+event[0]['SNe'])}}">
      Download tables
    </a>

    <a role="button" class="btn btn-primary btn-sm" style="border-radius: 10px; font-size: 1.3em; color: black; border-color: #B2DFDB;
                                background-color: #B2DFDB;"
      href="{{ url_for('get_files2', directory='GRB'+event[0]['GRB']+'-SN'+event[0]['SNe'])}}">
      Download observations
    </a>

    {% endif %}
    {%endif%}

  </div>

  <p></p>
  {% endblock %}
  {% block content %}
  <div class="primary">
    {% if 'GCN' in event[0]['Notes']|string() %}
    <p style="color:yellow">
      <b>NOTE:</b> This GRB-SN has been added to the tool based on a GCN. This means that it has not yet been peer
      reviewed in a published paper. Any data presented here may be subject to change. The GCN can be found <a
        style="color:#F5B041" href="{{event[0]['PrimarySources']}}" target='_blank'>here</a>.
    </p>

    {% elif 'Disputed:' in event[0]['Notes']|string() %}
    <p style="color:yellow">
      <b>Disputed Classification:</b> {{event[0]['Notes'][9:]|string()}}.
    </p>
    {% endif %}
  </div>

  <p></p>
  <div class="primary">
    <p>The data for this event was collected from
      refereed papers on <a href="https://ui.adsabs.harvard.edu" target='_blank'> NASA ADS</a>; and from online
      repositories including <a href="https://sne.space" target='_blank'> The Open Supernova Catalogue</a> and the
      <a href="https://www.swift.ac.uk" target='_blank'> Swift Telescope UK Site</a>.
    </p>
  </div>

  <div class="primary">
    <h2>
      <b>Tabular data</b>
    </h2>
    <!-- Download Database Data -->
    {% if 'AT' in event[0]['SNe']|string() or 'iPTF' in event[0]['SNe']|string()%}
    {% if event[0]['GRB'] == None %}
    <a role="button" class="btn btn-primary btn-sm" style="border-radius: 10px; font-size: 1.3em; color: black; border-color: #B2DFDB;
                                    background-color: #B2DFDB;"
      href="{{ url_for('get_table', event_id=event[0]['SNe'])}}">
      Download tables
    </a>
    {% else %}
    <a role="button" class="btn btn-primary btn-sm" style="border-radius: 10px; font-size: 1.3em; color: black; border-color: #B2DFDB;
                                    background-color: #B2DFDB;"
      href="{{ url_for('get_table', event_id='GRB'+event[0]['GRB']+'-'+event[0]['SNe'])}}">
      Download tables
    </a>
    {% endif %}
    {%else%}
    {% if event[0]['SNe'] == None %}
    <a role="button" class="btn btn-primary btn-sm" style="border-radius: 10px; font-size: 1.3em; color: black; border-color: #B2DFDB;
                                    background-color: #B2DFDB;"
      href="{{ url_for('get_table', event_id='GRB'+event[0]['GRB'])}}">
      Download tables
    </a>
    {% elif event[0]['GRB'] == None %}
    <a role="button" class="btn btn-primary btn-sm" style="border-radius: 10px; font-size: 1.3em; color: black; border-color: #B2DFDB;
                                    background-color: #B2DFDB;"
      href="{{ url_for('get_table', event_id='SN'+event[0]['SNe'])}}">
      Download tables
    </a>
    {% else %}
    <a role="button" class="btn btn-primary btn-sm" style="border-radius: 10px; font-size: 1.3em; color: black; border-color: #B2DFDB;
                                background-color: #B2DFDB;"
      href="{{ url_for('get_table', event_id='GRB'+event[0]['GRB']+'-SN'+event[0]['SNe'])}}">
      Download tables
    </a>
    {%endif%}
    {%endif%}
  </div>



  <div class="table-container">
    <table class="styled-table" style="width:49%">
      <thead>
        <tr>
          <th>GRB Parameter</th>
          <th>Value</th>
          <th>Unit</th>
        </tr>
      </thead>

      <tbody>
        {% if event[0]['GRB']!=None %}
        <tr>
          <td>T$_{0}$</td>

          <td>
            {% for i in range(radec_nos|length) %}
            {% if radec[0]['trigtime']|string != 'None' %}
            {{ grb_time_str }} <sup><a href="{{radec[0]['source']}}" target='_blank'>{{radec_nos[i]}} </a></sup> <br>
            {% endif %}
            {% endfor %}
          </td>

          <td>UT</td>
        </tr>
        {% endif %}

        <tr>
          <td>E$_{iso}$</td>

          <td>
            {% for i in range(event_nos|length) %}
            {% if event[i]['e_iso']|string != 'None' %}
            {{ event[i]['e_iso'] }} <sup><a href="{{event_refs[i]}}" target='_blank'>{{event_nos[i]}} </a></sup> <br>
            {% endif %}
            {% endfor %}
          </td>

          <td>erg</td>
        </tr>

        <tr>
          <td>E$_p$</td>
          <td>
            {% for i in range(event_nos|length) %}
            {% if event[i]['E_p']|string != 'None' %}
            {{ event[i]['E_p'] }} <sup><a href="{{event_refs[i]}}" target='_blank'>{{event_nos[i]}} </a></sup> <br>
            {% endif %}
            {% endfor %}
          </td>
          <td>keV</td>
        </tr>
        <tr>
          <td>z</td>
          <td>
            {% for i in range(event_nos|length) %}
            {% if event[i]['z']|string != 'None' %}
            {{ event[i]['z'] }} <sup><a href="{{event_refs[i]}}" target='_blank'>{{event_nos[i]}} </a></sup> <br>
            {% endif %}
            {% endfor %}
          </td>
          <td></td>
        </tr>
        <tr>
          <td>T$_{90}$</td>
          <td>
            {% for i in range(event_nos|length) %}
            {% if event[i]['T90']|string != 'None' %}
            {{ event[i]['T90'] }} <sup><a href="{{event_refs[i]}}" target='_blank'>{{event_nos[i]}} </a></sup> <br>
            {% endif %}
            {% endfor %}
          </td>
          <td>sec</td>
        </tr>
        <tr>
          <td>p</td>
          <td>
            {% for i in range(event_nos|length) %}
            {% if event[i]['p']|string != 'None' %}
            {{ event[i]['p'] }} <sup><a href="{{event_refs[i]}}" target='_blank'>{{event_nos[i]}} </a></sup> <br>
            {% endif %}
            {% endfor %}
          </td>
          <td></td>
        </tr>
        <tr>
          <td>n</td>
          <td>
            {% for i in range(event_nos|length) %}
            {% if event[i]['n']|string != 'None' %}
            {{ event[i]['n'] }} <sup><a href="{{event_refs[i]}}" target='_blank'>{{event_nos[i]}} </a></sup> <br>
            {% endif %}
            {% endfor %}
          </td>
          <td>cm$^{-3}$</td>
        </tr>
        <tr>
          <td>$\theta_{jet}$</td>
          <td>
            {% for i in range(event_nos|length) %}
            {% if event[i]['open_deg']|string != 'None' %}
            {{ event[i]['open_deg'] }} <sup><a href="{{event_refs[i]}}" target='_blank'>{{event_nos[i]}} </a></sup> <br>
            {% endif %}
            {% endfor %}
          </td>
          <td>degrees</td>
        </tr>
        <tr>
          <td>RA</td>
          <td>
            {% for i in range(radec_nos|length) %}
            {% if radec[0]['ra']|string != 'None' %}
            {{ radec[0]['ra'] }} <sup><a href="{{radec[0]['source']}}" target='_blank'>{{radec_nos[i]}} </a></sup> <br>
            {% endif %}
            {% endfor %}
          </td>
          <td>hh:mm:ss.s</td>
        </tr>
        <tr>
          <td>Dec</td>
          <td>
            {% for i in range(radec_nos|length) %}
            {% if radec[0]['dec']|string != 'None' %}
            {{ radec[0]['dec'] }} <sup><a href="{{radec[0]['source']}}" target='_blank'>{{radec_nos[i]}} </a></sup> <br>
            {% endif %}
            {% endfor %}
          </td>
          <td>dd:mm:ss.s</td>
        </tr>
      </tbody>
    </table>


    <table class="styled-table" style="width:49%">
      <thead>
        <tr>
          <th scope="col">SN Parameter</th>
          <th scope="col">Value</th>
          <th scope="col">Unit</th>
        </tr>
      </thead>

      <tbody>
        {% if event[0]['GRB']==None %}
        <tr>
          <td>T$_{0}$</td>

          <td>
            {% for i in range(radec_nos|length) %}
            {% if radec[0]['trigtime']|string != 'None' %}
            {{ grb_time_str }} <sup><a href="{{radec[0]['source']}}" target='_blank'>{{radec_nos[i]}} </a></sup> <br>
            {% endif %}
            {% endfor %}
          </td>

          <td>UT</td>
        </tr>
        {% endif %}

        <tr>
          <td>E$_k$</td>

          <td>
            {% for i in range(event_nos|length) %}
            {% if event[i]['E_k']|string != 'None' %}
            {{ event[i]['E_k'] }} <sup><a href="{{event_refs[i]}}" target='_blank'>{{event_nos[i]}} </a></sup> <br>
            {% endif %}
            {% endfor %}
          </td>

          <td>erg</td>
        </tr>
        <tr>
          <td>M$_{Ni}$</td>
          <td>
            {% for i in range(event_nos|length) %}
            {% if event[i]['ni_m']|string != 'None' %}
            {{ event[i]['ni_m'] }} <sup><a href="{{event_refs[i]}}" target='_blank'>{{event_nos[i]}} </a></sup> <br>
            {% endif %}
            {% endfor %}
          </td>
          <td>M$_{\odot}$</td>
        </tr>
        <tr>
          <td>M$_{Ej}$</td>
          <td>
            {% for i in range(event_nos|length) %}
            {% if event[i]['ej_m']|string != 'None' %}
            {{ event[i]['ej_m'] }} <sup><a href="{{event_refs[i]}}" target='_blank'>{{event_nos[i]}} </a></sup> <br>
            {% endif %}
            {% endfor %}
          </td>
          <td>M$_{\odot}$</td>
        </tr>
        <tr>
          <td>v$_{photospheric}$</td>
          <td>
            {% for i in range(event_nos|length) %}
            {% if event[i]['v_photospheric']|string != 'None' %}
            {{ event[i]['v_photospheric'] }} <sup><a href="{{event_refs[i]}}" target='_blank'>{{event_nos[i]}}
              </a></sup> <br>
            {% endif %}
            {% endfor %}
          </td>
          <td>km s$^{-1}$</td>
        </tr>
        <tr>
          <td>v$_{Fe}$</td>
          <td>
            {% for i in range(event_nos|length) %}
            {% if event[i]['v_Fe_expansion']|string != 'None' %}
            {{ event[i]['v_Fe_expansion'] }} <sup><a href="{{event_refs[i]}}" target='_blank'>{{event_nos[i]}}
              </a></sup> <br>
            {% endif %}
            {% endfor %}
          </td>
          <td>km s$^{-1}$</td>
        </tr>
        <tr>
          <td>v$_{Si}$</td>
          <td>
            {% for i in range(event_nos|length) %}
            {% if event[i]['v_Si_expansion']|string != 'None' %}
            {{ event[i]['v_Si_expansion'] }} <sup><a href="{{event_refs[i]}}" target='_blank'>{{event_nos[i]}}
              </a></sup> <br>
            {% endif %}
            {% endfor %}
          </td>
          <td>km s$^{-1}$</td>
        </tr>

        <!-- Loop over the magnitudes/times to print any that exist -->
        {% for i in range(ptime_bandlist|length) %}
        <tr>
          <td>t$_{peak, {{ptime_bandlist[i]}}}$</td>
          <td>
            {% for j in range(peakmag|length) %}
            {% if peakmag[j]['band'] == ptime_bandlist[i] %}

            {% if peakmag[j]['time'] != None %}
            {{ peakmag[j]['time'] }} <sup><a href="{{peakmag[j]['source']}}"
                target='_blank'>{{peakmag_nos[j]}}</a></sup> <br>
            {% endif %}

            {% endif %}
            {% endfor %}
          </td>

          <td>days</td>
        </tr>
        {% endfor %}

        {% for i in range(mag_bandlist|length) %}
        <tr>
          <td>m$_{peak, {{mag_bandlist[i]}}}$</td>
          <td>
            {% for j in range(peakmag|length) %}
            {% if peakmag[j]['band'] == mag_bandlist[i] %}

            {% if peakmag[j]['mag'] != None %}
            {{ peakmag[j]['mag'] }} <sup><a href="{{peakmag[j]['source']}}" target='_blank'>{{peakmag_nos[j]}}</a></sup>
            <br>
            {% endif %}

            {% endif %}
            {% endfor %}
          </td>

          <td>mag</td>
        </tr>
        {% endfor %}
      </tbody>


    </table>
  </div>






  <!-- Plots -->
  <div class="primary">

    <h2><b>Observational data</b></h2>
    <p>These graphs display observational data for this event. For help using the toolbars click <a
        href="{{ url_for('get_help')}}">here</a>. Note that some of the data collected for this event is not yet
      displayed in these plots. In these cases the
      plots are
      marked with the "Pending" label.
      This is due to the wide variety of filetypes that we are currently working to standardise. The unplotted data
      are
      included in the above download.
    </p>
    {% if 'AT' in event[0]['SNe']|string() or 'iPTF' in event[0]['SNe']|string()%}
    {% if event[0]['GRB'] == None %}
    <a role="button" class="btn btn-primary btn-sm" style="border-radius: 10px; font-size: 1.3em; color: black; border-color: #B2DFDB;
                                            background-color: #B2DFDB;"
      href="{{ url_for('get_files2', directory=event[0]['SNe'])}}">
      Download all observations
    </a>
    {% else %}
    <a role="button" class="btn btn-primary btn-sm" style="border-radius: 10px; font-size: 1.3em; color: black; border-color: #B2DFDB;
                                            background-color: #B2DFDB;"
      href="{{ url_for('get_files2', directory='GRB'+event[0]['GRB']+'-'+event[0]['SNe'])}}">
      Download all observations
    </a>
    {% endif %}
    {% else %}
    {% if event[0]['SNe'] == None %}
    <a role="button" class="btn btn-primary btn-sm" style="border-radius: 10px; font-size: 1.3em; color: black; border-color: #B2DFDB;
                                            background-color: #B2DFDB;"
      href="{{ url_for('get_files2', directory='GRB'+event[0]['GRB'])}}">
      Download all observations
    </a>
    {% elif event[0]['GRB'] == None %}
    <a role="button" class="btn btn-primary btn-sm" style="border-radius: 10px; font-size: 1.3em; color: black; border-color: #B2DFDB;
                                        background-color: #B2DFDB;"
      href="{{ url_for('get_files2', directory='SN'+event[0]['SNe'])}}">
      Download all observations
    </a>
    {% else %}
    <a role="button" class="btn btn-primary btn-sm" style="border-radius: 10px; font-size: 1.3em; color: black; border-color: #B2DFDB;
                                        background-color: #B2DFDB;"
      href="{{ url_for('get_files2', directory='GRB'+event[0]['GRB']+'-SN'+event[0]['SNe'])}}">
      Download all observations
    </a>
    {% endif %}
    {% endif %}


    <p></p>




  </div>

  <div class="grid">
    {% for i in range(div_list|length) %}
    <div class="plot-container">
      <div class="plot-item">
        {{ div_list[i]|safe }}
      </div>
      <div>
        {{ script_list[i]|safe }}
      </div>
    </div>
    {% endfor %}
  </div>



  <!-- Table of references -->
  <div class="primary">
    <h2><b>Sources</b></h2>
  </div>
  <div class="table-container">

    <table class="styled-table" style="width:100%">
      <thead>
        <tr>
          <th>Number</th>
          <th>Reference</th>
        </tr>
      </thead>

      <tbody>
        <!-- The primary and secondary event sources -->
        {% for i in range(event_refs|length)%}
        {% if '20' in needed_dict[event_refs[i]]['year'] %}
        <tr>
          <td><a href="{{event_refs[i]}}" target='_blank'>{{i+1}}
            </a></td>
          <td> {{needed_dict[event_refs[i]]['names']}} <b>{{needed_dict[event_refs[i]]['year']}}</b>: <a
              href="{{event_refs[i]}}" target='_blank'>{{event_refs[i]}} </a></td>
        </tr>
        {% elif '19' in needed_dict[event_refs[i]]['year'] %}
        <tr>
          <td><a href="{{event_refs[i]}}" target='_blank'>{{i+1}}
            </a></td>
          <td> {{needed_dict[event_refs[i]]['names']}} <b>{{needed_dict[event_refs[i]]['year']}}</b>: <a
              href="{{event_refs[i]}}" target='_blank'>{{event_refs[i]}} </a></td>
        </tr>
        {% else %}
        <tr>
          <td><a href="{{event_refs[i]}}" target='_blank'>{{i+1}}
            </a></td>
          <td> {{needed_dict[event_refs[i]]['names']}}: <a href="{{event_refs[i]}}" target='_blank'>{{event_refs[i]}}
            </a></td>
        </tr>
        {% endif %}
        {% endfor %}

        <!-- RADec refs -->

        {% for i in range(radec_refs|length) %}
        {% if peakmag_refs[i]!=None %}
        {% if 'adsabs' not in radec_refs[i] %}
        <tr>
          <td><a href="{{radec_refs[i]}}" target='_blank'>{{i+event_refs|length+1}} </a></td>
          <td><a href="{{radec_refs[i]}}" target='_blank'>{{radec_refs[i]}} </a></td>
        </tr>

        {% else %}
        <tr>
          <td><a href="{{radec_refs[i]}}" target='_blank'>{{i+event_refs|length+1}} </a></td>
          <td> {{needed_dict[radec_refs[i]]['names']}} <b>{{needed_dict[radec_refs[i]]['year']}}</b>: <a
              href="{{radec_refs[i]}}" target='_blank'>{{radec_refs[i]}} </a></td>
        </tr>

        {% endif %}
        {% endif %}
        {% endfor %}

        <!-- Peakmag refs -->

        {% for i in range(peakmag_refs|length) %}
        {% if peakmag_refs[i]!=None %}
        {% if 'adsabs' not in peakmag_refs[i] %}
        <tr>
          <td><a href="{{peakmag_refs[i]}}" target='_blank'>{{i+event_refs|length+radec_refs|length+1}} </a></td>
          <td><a href="{{peakmag_refs[i]}}" target='_blank'>{{peakmag_refs[i]}} </a></td>
        </tr>

        {% else %}
        <tr>
          <td><a href="{{peakmag_refs[i]}}" target='_blank'>{{i+event_refs|length+radec_refs|length+1}} </a></td>
          <td> {{needed_dict[peakmag_refs[i]]['names']}} <b>{{needed_dict[peakmag_refs[i]]['year']}}</b>: <a
              href="{{peakmag_refs[i]}}" target='_blank'>{{peakmag_refs[i]}} </a></td>
        </tr>

        {% endif %}
        {% endif %}
        {% endfor %}

        <!-- Xray plot refs -->
        {% for i in range(swift_refs|length)%}
        {% if '20' in needed_dict[swift_refs[i]]['year'] %}
        <tr>
          <td><a href="{{swift_refs[i]}}"
              target='_blank'>{{i+event_refs|length+peakmag_refs|length+radec_refs|length+1}}
            </a></td>
          <td> {{needed_dict[swift_refs[i]]['names']}} <b>{{needed_dict[swift_refs[i]]['year']}}</b>: <a
              href="{{swift_refs[i]}}" target='_blank'>{{swift_refs[i]}} </a></td>
        </tr>
        {% elif '19' in needed_dict[swift_refs[i]]['year'] %}
        <tr>
          <td><a href="{{swift_refs[i]}}"
              target='_blank'>{{i+event_refs|length+peakmag_refs|length+radec_refs|length+1}}
            </a></td>
          <td> {{needed_dict[swift_refs[i]]['names']}} <b>{{needed_dict[swift_refs[i]]['year']}}</b>: <a
              href="{{swift_refs[i]}}" target='_blank'>{{swift_refs[i]}} </a></td>
        </tr>
        {% else %}
        <tr>
          <td><a href="{{swift_refs[i]}}"
              target='_blank'>{{i+event_refs|length+peakmag_refs|length+radec_refs|length+1}}
            </a></td>
          <td> {{needed_dict[swift_refs[i]]['names']}}: <a href="{{swift_refs[i]}}" target='_blank'>{{swift_refs[i]}}
            </a></td>
        </tr>
        {% endif %}
        {% endfor %}


        <!-- Optical plot refs -->
        {% for i in range(optical_refs|length)%}
        {% if '20' in needed_dict[optical_refs[i]]['year'] %}
        <tr>
          <td><a href="{{optical_refs[i]}}"
              target='_blank'>{{i+event_refs|length+radec_refs|length+swift_refs|length+peakmag_refs|length+1}} </a>
          </td>
          <td> {{needed_dict[optical_refs[i]]['names']}}<b> {{needed_dict[optical_refs[i]]['year']}}</b>: <a
              href="{{optical_refs[i]}}" target='_blank'>{{optical_refs[i]}} </a></td>
        </tr>
        {% elif '19' in needed_dict[optical_refs[i]]['year'] %}
        <tr>
          <td><a href="{{optical_refs[i]}}"
              target='_blank'>{{i+event_refs|length+radec_refs|length+swift_refs|length+peakmag_refs|length+1}} </a>
          </td>
          <td> {{needed_dict[optical_refs[i]]['names']}}<b> {{needed_dict[optical_refs[i]]['year']}}</b>: <a
              href="{{optical_refs[i]}}" target='_blank'>{{optical_refs[i]}} </a></td>
        </tr>
        {% else %}
        <tr>
          <td><a href="{{optical_refs[i]}}"
              target='_blank'>{{i+event_refs|length+radec_refs|length+swift_refs|length+peakmag_refs|length+1}} </a>
          </td>
          <td> {{needed_dict[optical_refs[i]]['names']}}: <a href="{{optical_refs[i]}}"
              target='_blank'>{{optical_refs[i]}} </a></td>
        </tr>
        {% endif %}
        {% endfor %}

        <!-- Radio plot refs -->
        {% for i in range(radio_refs|length)%}
        {% if '20' in needed_dict[radio_refs[i]]['year'] %}
        <tr>
          <td><a href="{{radio_refs}}"
              target='_blank'>{{i+event_refs|length+radec_refs|length+swift_refs|length+peakmag_refs|length+optical_refs|length+1}}
            </a>
          </td>
          <td> {{needed_dict[radio_refs[i]]['names']}}<b> {{needed_dict[radio_refs[i]]['year']}}</b>: <a
              href="{{radio_refs[i]}}" target='_blank'>{{radio_refs[i]}} </a></td>
        </tr>
        {% elif '19' in needed_dict[radio_refs[i]]['year'] %}
        <tr>
          <td><a href="{{radio_refs[i]}}"
              target='_blank'>{{i+event_refs|length+radec_refs|length+swift_refs|length+peakmag_refs|length+optical_refs|length+1}}
            </a>
          </td>
          <td> {{needed_dict[radio_refs[i]]['names']}}<b> {{needed_dict[radio_refs[i]]['year']}}</b>: <a
              href="{{radio_refs[i]}}" target='_blank'>{{radio_refs[i]}} </a></td>
        </tr>
        {% else %}
        <tr>
          <td><a href="{{radio_refs[i]}}"
              target='_blank'>{{i+event_refs|length+radec_refs|length+swift_refs|length+peakmag_refs|length+optical_refs|length+1}}
            </a>
          </td>
          <td> {{needed_dict[radio_refs[i]]['names']}}: <a href="{{radio_refs[i]}}" target='_blank'>{{radio_refs[i]}}
            </a></td>
        </tr>
        {% endif %}
        {% endfor %}

        <!-- Spectra plot refs -->
        {% for i in range(spec_refs|length)%}
        {% if '20' in needed_dict[spec_refs[i]]['year'] %}
        <tr>
          <td><a href="{{spec_refs[i]}}"
              target='_blank'>{{i+optical_refs|length+event_refs|length+radec_refs|length+swift_refs|length+peakmag_refs|length+radio_refs|length+1}}
            </a></td>
          <td> {{needed_dict[spec_refs[i]]['names']}}<b>{{needed_dict[spec_refs[i]]['year']}}</b>: <a
              href="{{spec_refs[i]}}" target='_blank'>{{spec_refs[i]}} </a></td>
        </tr>
        {% elif '19' in needed_dict[spec_refs[i]]['names'] %}
        <tr>
          <td><a href="{{spec_refs[i]}}"
              target='_blank'>{{i+optical_refs|length+event_refs|length+radec_refs|length+swift_refs|length+peakmag_refs|length+radio_refs|length+1}}
            </a></td>
          <td> {{needed_dict[spec_refs[i]]['year']}}<b>{{needed_dict[spec_refs[i]]['names']}}</b>: <a
              href="{{spec_refs[i]}}" target='_blank'>{{spec_refs[i]}} </a></td>
        </tr>
        {% else %}
        <tr>
          <td><a href="{{spec_refs[i]}}"
              target='_blank'>{{i+optical_refs|length+event_refs|length+radec_refs|length+swift_refs|length+peakmag_refs|length+radio_refs|length+1}}
            </a></td>
          <td> {{needed_dict[spec_refs[i]]['names']}}: <a href="{{spec_refs[i]}}" target='_blank'>{{spec_refs[i]}}
            </a>
          </td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>

    </table>

  </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.4.2/bokeh.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.4.2/bokeh-widgets.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.4.2/bokeh-tables.js"></script>



</html>
{% endblock %}