{% extends 'base.html' %}

<head>
	<!-- The stuff to do with the plot -->

	<link href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.4.2/bokeh.min.css" rel="stylesheet" type="text/css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.4.2/bokeh-widgets.css" rel="stylesheet" type="text/css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.4.2/bokeh-tables.css" rel="stylesheet" type="text/css">
</head>

<body>
	{% block title %}
	<h1><b>Graphing Tool</b></h1>
	{% endblock %}

	{% block content %}
	<h2><b>Download the Plot and the Selected Data </b></h2>
	<p><a
			href="{{ url_for('download_graph_data', title=txt_title, grb_name=grb_name, sne_name=sne_name, raw_x=raw_x, raw_y=raw_y)}}">Click
			here</a> to download the data stored in our database based on your selections below. </p>

	<p>Once the plot below has been generated you can click on the 'Save' button in the toolbar (right hand side of
		plot) to download the image of the plot. The toolbar also contains useful tools such as pan and zoom.</p>

	<form action="" method="post" name="selections">
		<h2><b>Select parameters for the plot</b></h2>
		<div class="form-row">

			<div class="col-auto">
				<label for="select1"><p class="headings">Event class</p></label>
				<select class="form-control" id="select1" name="select1">
					<option value="all">
						All Events
					</option>
					<option value="orphan">
						Orphan GRBs Only
					</option>
					<option value="spec">
						Spectroscopic SNe Only
					</option>
					<option value="phot">
						Photometric SNe Only
					</option>
				</select>
			</div>

			<div class="col-auto">
				<label for="select2"><p class="headings">X-axis</p></label>
				<select class="form-control" id="select2" name="select2">
					<option value="e_iso">
						Eiso
					</option>
					<option value="z">
						z
					</option>
					<option value="ni_m">
						Nickel mass
					</option>
					<option value="ej_m">
						Ejecta mass
					</option>
					<option value="E_p">
						Epeak
					</option>
					<option value="E_k">
						Ek (SN)
					</option>
					<option value="T90">
						T90
					</option>
				</select>
			</div>

			<div class="col-auto">
				<label for="select3"><p class="headings">Y-axis</p></label>
				<select class="form-control" id="select3" name="select3">
					<option value="e_iso">
						Eiso
					</option>
					<option value="z">
						z
					</option>
					<option value="ni_m">
						Nickel mass
					</option>
					<option value="ej_m">
						Ejecta mass
					</option>
					<option value="E_p">
						Epeak
					</option>
					<option value="E_k">
						Ek (SN)
					</option>
					<option value="T90">
						T90
					</option>
				</select>
			</div>

			<div2 class="col-auto">
					<button type="submit" class="btn btn-warning btn-lg">Plot</button>
			</div2>
		</div>


	</form>


	<h2><b>Plot</b></h2>
	{{ div|safe }}
	{{ script|safe }}







</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.4.2/bokeh.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.4.2/bokeh-widgets.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.4.2/bokeh-tables.js"></script>

</html>
{% endblock %}