{% extends 'base.html' %}
<head>
  <!-- The stuff to do with the plot -->

<link
    href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.4.2/bokeh.min.css"
    rel="stylesheet" type="text/css">
<link
    href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.4.2/bokeh-widgets.css"
    rel="stylesheet" type="text/css">
<link
    href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.4.2/bokeh-tables.css"
    rel="stylesheet" type="text/css">
</head>
<body>
	{% block title %} 
	<h1><b>Graphing Tool</b></h1>
	{% endblock %} 

	{% block content %}
	<h2><b>Download the Plot and the Selected Data </b></h2>
     <p><a href="{{ url_for('download_graph_data', title=txt_title, grb_name=grb_name, sne_name=sne_name, raw_x=raw_x, raw_y=raw_y)}}">Click here</a> to download the data stored in our database based on your selections below. </p>
     
     <p>Once the plot below has been generated you can click on the 'Save' button in the toolbar (right hand side of plot) to download the image of the plot. The toolbar also contains useful tools such as pan and zoom.</p>
	<div2 class="float-parent-element">
  <div2 class="float-child-element-1">
    <form action=""  method = "post" name="selections">
		<h2><b>Select one class of event to plot</b></h2>
		<div>
			<div2 class="form-check">
		  <input class="form-check-input" type="checkbox" value="all" name="selectors1" id="flexCheckDefault">
		  <label class="form-check-label" for="flexCheckDefault"> All Events </label>
		</div2>
		
		
		<div2 class="form-check">
		  <input class="form-check-input" type="checkbox" value="orphan" name="selectors1" id="flexCheckDefault">
		  <label class="form-check-label" for="flexCheckDefault"> Orphan GRBs Only </label>
		</div2>
		<div2 class="form-check">
		  <input class="form-check-input" type="checkbox" value="spec" name="selectors1" id="flexCheckDefault">
		  <label class="form-check-label" for="flexCheckDefault"> Spectroscopic SNe Only </label>
		</div2>
		<div2 class="form-check">
		  <input class="form-check-input" type="checkbox" value="phot" name="selectors1" id="flexCheckDefault">
		  <label class="form-check-label" for="flexCheckDefault"> Photometric SNe Only </label>
		</div2>
		</div>
		
		<h2><b>X-axis</b></h2>
		<div>
		<div2 class="form-check">
		  <input class="form-check-input" type="checkbox" value="e_iso" name="selectors2" id="flexCheckDefault">
		  <label class="form-check-label" for="flexCheckDefault"> E$_{iso}$ </label>
		</div2>
		<div2 class="form-check">
		  <input class="form-check-input" type="checkbox" value="z" name="selectors2" id="flexCheckDefault">
		  <label class="form-check-label" for="flexCheckDefault"> z </label>
		</div2>
		<div2 class="form-check">
		  <input class="form-check-input" type="checkbox" value="ni_m" name="selectors2" id="flexCheckDefault">
		  <label class="form-check-label" for="flexCheckDefault"> Nickel mass </label>
		</div2>
		<div2 class="form-check">
		  <input class="form-check-input" type="checkbox" value="ej_m" name="selectors2" id="flexCheckDefault">
		  <label class="form-check-label" for="flexCheckDefault"> Ejecta mass </label>
		</div2>
		<div2 class="form-check">
		  <input class="form-check-input" type="checkbox" value="E_p" name="selectors2" id="flexCheckDefault">
		  <label class="form-check-label" for="flexCheckDefault"> E$_{peak}$ </label>
		</div2>
		<div2 class="form-check">
		  <input class="form-check-input" type="checkbox" value="e_k" name="selectors2" id="flexCheckDefault">
		  <label class="form-check-label" for="flexCheckDefault"> E$_{k}$ </label>
		</div2>
		<div2 class="form-check">
		  <input class="form-check-input" type="checkbox" value="T90" name="selectors2" id="flexCheckDefault">
		  <label class="form-check-label" for="flexCheckDefault"> T$_{90}$ </label>
		</div2>
		</div>
		<h2><b>Y-axis</b></h2>

		<div>
		<div2 class="form-check">
		  <input class="form-check-input" type="checkbox" value="e_iso" name="selectors3" id="flexCheckDefault">
		  <label class="form-check-label" for="flexCheckDefault"> E$_{iso}$ </label>
		</div2>
		<div2 class="form-check">
		  <input class="form-check-input" type="checkbox" value="z" name="selectors3" id="flexCheckDefault">
		  <label class="form-check-label" for="flexCheckDefault"> z </label>
		</div2>
		<div2 class="form-check">
		  <input class="form-check-input" type="checkbox" value="ni_m" name="selectors3" id="flexCheckDefault">
		  <label class="form-check-label" for="flexCheckDefault"> Nickel mass </label>
		</div2>
		<div2 class="form-check">
		  <input class="form-check-input" type="checkbox" value="ej_m" name="selectors3" id="flexCheckDefault">
		  <label class="form-check-label" for="flexCheckDefault"> Ejecta mass </label>
		</div2>
		<div2 class="form-check">
		  <input class="form-check-input" type="checkbox" value="E_p" name="selectors3" id="flexCheckDefault">
		  <label class="form-check-label" for="flexCheckDefault"> E$_{peak}$ </label>
		</div2>
		<div2 class="form-check">
		  <input class="form-check-input" type="checkbox" value="e_k" name="selectors3" id="flexCheckDefault">
		  <label class="form-check-label" for="flexCheckDefault"> E$_{k}$ </label>
		</div2>
		<div2 class="form-check">
		  <input class="form-check-input" type="checkbox" value="T90" name="selectors3" id="flexCheckDefault">
		  <label class="form-check-label" for="flexCheckDefault"> T$_{90}$ </label>
		</div2>
		<h2></h2>
		<div2 class="field is-grouped">
        <div2 class="control">
          <!-- <button type="button" class="btn btn-light">Plot</button> -->
          <button class="button is-danger is-small">Plot</button>
        </div2>
        </div2>
        </div>
      
      </form>
	</div2>

  <div2 class="float-child-element-2">
  <h2><b>Plot</b></h2>
{{ div|safe }}
{{ script|safe }}
</div2>

</div2>

     

    

	
</body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.4.2/bokeh.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.4.2/bokeh-widgets.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.4.2/bokeh-tables.js"></script>
</html>
{% endblock %}