{% extends 'base.html' %}
{% block title %}
<div class="primary"></div>
<h1><b>Help with Graphs on Event Pages</b></h1>
</div>
{% endblock %}

{% block content %}
<div class="primary">
<p>These graphs have several features to improve useability, these can be found in the toolbar at the top right of each plot. Tools include:</p>

<ul>
  <li><p>Pan.</p></li>
  <li><p>Zoom in on box.</p></li>
  <li><p>Scroll wheel zoom.</p></li>
  <li><p>Save plot.</p></li>
  <li><p>A reset button to reset the changes made with any of the tools.</p></li>
  <li><p>Hover over a point with the mouse to see information about that point.</p></li>
  <li><p>On the Spectrum plot you can click on the legend to mute a particular line in order to see other data more clearly.</p></li>
</ul>
</div>
{% endblock %}