{% extends "base.html" %}

{% block title %}
<h1>
	<b>GAmma-ray Burst and Supernova Associations Project</b>
</h1>

{% endblock %}

{% block content %}
<h2><b>Introduction</b></h2>
<p>
	The purpose of this project is to create a repository for all known GRB/SNe associations. There has been limited research in this area. This tool is inteneded to improve access to new associations by aggregating the data in one place. Bulk parameters of the GRB and Supernova will be reported here, along with the lightcurve data.
</p>
{% endblock %}