{% extends "base.html" %}

{% block title %}
<div class="primary">
	<h1>
		<b>Welcome to the GRBSN webtool</b>
	</h1>

	<p style="text-align: center;">A one-stop shop for GRB-SN associations.</p>
</div>

{% endblock %}

{% block content %}
<div class="primary">
	<!-- Images -->
	<!-- <h2><b>Overview of Events</b></h2> -->

	<div class="card-group">
		<div class="card text-center">
			<img class="card-img-top" src="/plot/e_iso">
			<div class="card-body">
				<h5 class="card-title">E$_{iso}$ distribution of the events.</h5>
				<!-- <p2 class="card-text">E$_{iso}$ distribution across the objects</p2> -->
			</div>
		</div>
		<div class="card text-center">
			<img class="card-img-top" src="/plot/z">
			<div class="card-body">
				<h5 class="card-title">Redshift distribution of the events.</h5>

			</div>
		</div>
		<div class="card text-center">
			<img class="card-img-top" src="./static/stats/IcBLsspecGRBSN2023Webtool.pdf" alt="Card image cap">
			<div class="card-body">
				<h5 style="font-size: 10px" class="card-title">Number of Ic-BLs per year with spectroscopic GRB-SNe
					marked
					(Taken
					from the <a href="https://www.wis-tns.org" target='_blank' style="color: blue">Transient Name
						Server</a> and
					<a href="https://www.wiserep.org" target='_blank' style="color: blue">WISeREP</a>)
				</h5>
			</div>
		</div>
	</div>
</div>

<!-- Forms -->
{% from "_formhelpers.html" import render_field %}
<div class="primary">
	<h2>
		<b>
			Search the database by object name
		</b>
	</h2>
</div>
<div class="primary new-margin">
	<form method=post>
		<div class="form-group">
			{{ render_field(form.object_name, class="form-control",
			placeholder="Enter GRB or SN ID (e.g. SN1998bw or GRB200826A)") }}
			<button type="submit" class="btn btn-warning btn-lg" style="margin-left:20px;">Search</button>
		</div>
	</form>
</div>
<div class="primary">
	{% with messages = get_flashed_messages(with_categories=true) %}
	<!-- {% if messages %}
	    <ul class=flashes> -->
	{% for category, message in messages %}
	<p class="error"><b>WARNING!!!</b> {{ message }}
		{% endfor %}
		</ul>
		<!-- {% endif %} -->
		{% endwith %}
	<h2><b>Known Associations</b></h2>

	<p>The table below displays some basic parameters for the known GRB-SN associations. If you would like to download
		the
		full database click <a href="{{ url_for('get_master_table')}}">here</a>. The table below only displays part of
		the
		data stored in the database. The download will include all information stored within the database as a .txt
		file. </p>
</div>
<div class="table-container">
	<!-- Table of all the sources -->

	<table class="styled-table" style="width:100%">
		<thead>
			<tr>
				<th>GRB</th>
				<th>SN</th>
				<th>E$_{iso}$ [ergs]</th>
				<th>z</th>
				<th>T$_{90}$ [sec]</th>
				<th>M$_{Ej}$ [M$_{\odot}$]</th>
				<th>M$_{Ni}$ [M$_{\odot}$]</th>
				<th>E$_{p}$ [keV]</th>
				<th>E$_{k}$ (SN) [ergs]</th>
			</tr>
		</thead>


		<tbody>
			{% for i in range(data|length) %}
			<tr>

				{% if numerics[i] == 1 %}
				<!-- GRB and SN have a name -->
				{% if data[i][0]!=None and data[i][1]!=None %}
				<td><a href="/GRB{{ data[i][0] }}-SN{{ data[i][1] }}" target='_blank'>{{ data[i][0] }}</td>
				<td><a href="/GRB{{ data[i][0] }}-SN{{ data[i][1] }}" target='_blank'>{{ data[i][1] }}</td>
				<!-- GRB has name -->
				{% elif data[i][0]!=None and data[i][1]==None %}
				<td><a href="/GRB{{ data[i][0] }}" target='_blank'>{{ data[i][0] }}</td>
				<td> </td>
				<!-- SN has a name -->
				{% elif data[i][0]==None and data[i][1]!=None %}
				<td> </td>
				<td><a href="/SN{{ data[i][1] }}" target='_blank'>{{ data[i][1] }}</td>
				{% endif %}
				{% else %}
				<!-- GRB and SN have a name -->
				{% if data[i][0]!=None and data[i][1]!=None %}
				<td><a href="/GRB{{ data[i][0] }}-{{ data[i][1] }}" target='_blank'>{{ data[i][0] }}</td>
				<td><a href="/GRB{{ data[i][0] }}-{{ data[i][1] }}" target='_blank'>{{ data[i][1] }}</td>
				<!-- GRB has name -->
				{% elif data[i][0]!=None and data[i][1]==None %}
				<td><a href="/GRB{{ data[i][0] }}" target='_blank'>{{ data[i][0] }}</td>
				<td> </td>
				<!-- SN has a name -->
				{% elif data[i][0]==None and data[i][1]!=None %}
				<td> </td>
				<td><a href="/{{ data[i][1] }}" target='_blank'>{{ data[i][1] }}</td>
				{% endif %}
				{% endif %}

				<!-- EISO -->
				{% if data[i][2] != None %}
				<td>{{ data[i][2] }}</td>
				{% else %}
				<td> </td>
				{% endif %}

				<!-- Z -->
				{% if data[i][3] != None %}
				<td>{{ data[i][3] }}</td>
				{% else %}
				<td> </td>
				{% endif %}

				<!-- T90 -->
				{% if data[i][4] != None %}
				<td>{{ data[i][4] }}</td>
				{% else %}
				<td> </td>
				{% endif %}

				<!-- Ejecta mass -->
				{% if data[i][5] != None %}
				<td>{{ data[i][5] }}</td>
				{% else %}
				<td> </td>
				{% endif %}

				<!-- Nickel mass -->
				{% if data[i][6] != None %}
				<td>{{ data[i][6] }}</td>
				{% else %}
				<td> </td>
				{% endif %}

				<!-- Epeak -->
				{% if data[i][7] != None %}
				<td>{{ data[i][7] }}</td>
				{% else %}
				<td> </td>
				{% endif %}

				<!-- Ek -->
				{% if data[i][8] != None %}
				<td>{{ data[i][8] }}</td>
				{% else %}
				<td> </td>
				{% endif %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}