p {font-family: Arial;
   color: white;
   background-color: teal;
 margin-left: 50px;}

body {background-color: teal;
}

h1{color: white;
    margin-top: 1em;
    margin-bottom: 0.5em;
    text-align: center;
    font-family: Arial;
    background-color: teal;
 margin-left: 50px;}

h2{color: white;
    margin-top: 1em;
    margin-bottom: 0.5em;
    text-align: left;
    font-family: Arial;
   margin-left: 50px;}

/*Table data*/
table, th, td {
	color: white;
  border: 1px solid black;
  margin-left: 50px;
}

* {
  box-sizing: border-box;
}