p {
  font-family: Arial;
  color: white;
  background-color: teal;
  font-size: 1.2em;
}

body {
  background-color: teal;
}

/*hyperlink text*/
a {
  color: yellow;
  font-size: 1em;
}

.dropdown-menu {
  max-height: 30em;
  overflow-y: auto;
}

nav>a {
  color: white;
  font-size: 1.5em;
}

li {
  font-family: Arial;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
}

.dropdown-option {
  font-size: 1.5em;
  margin-left: 0px;
  margin-right: 0px;
}

.top-three {
  margin-top: 5em;
  color: white;
}

h1 {
  color: white;
  margin-top: 1em;
  margin-bottom: 0.5em;
  text-align: center;
  font-family: Arial;
  background-color: teal;
  font-size: 2em;
}

h2 {
  color: white;
  margin-top: 1em;
  margin-bottom: 0.5em;
  text-align: left;
  font-family: Arial;
  font-size: 1.3em;
}

h3 {
  color: white;
  margin-top: 1em;
  margin-bottom: 0.5em;
  text-align: left;
  font-family: Arial;
  font-size: 1.1em;
}

.primary {
  margin-left: 100px;
  margin-right: 100px;
  overflow: auto;
}

/*For the flask messages*/
p.error {
  color: yellow
}

.float-parent-element {
  width: 50%;
}

.float-child-element-1 {
  float: left;
  width: 30%;
}

.float-child-element-2 {
  float: left;
  width: 70%;
}

.headings {
  color: white;
  margin-left: 20px;
  margin-right: 20px;
}

dd {
  margin-left: 20px;
  margin-right: 20px;
}

/* new table stuff */
/* inspired heavily by https: //dev.to/dcodeyt/creating-beautiful-html-tables-with-css-428l */

.styled-table {
  border-collapse: separate;
  /* Keep this for border-radius to work */
  margin: 25px 0;
  font-family: Arial;
  color: white;
  font-size: 1.2em;
  font-family: sans-serif;
  border-spacing: 0;
  border-radius: 10px;
  overflow: hidden;
  /* Ensures the border-radius affects children elements */
  border: 3px solid white;
}

.styled-table thead {
  overflow: separated;
}

.styled-table thead tr {
  background-color: white;
  color: rgb(185, 122, 181);
  /* color: #008585; */
}

.styled-table thead th {
  padding: 10px;
  text-align: left;
}

.styled-table thead th:first-child {
  border-top-left-radius: 0px;
  /* Apply radius to the first th in the row */
}

.styled-table thead th:last-child {
  border-top-right-radius: 0px;
  /* Apply radius to the last th in the row */
}

.styled-table th {
  padding: 10px 15px;
}

.styled-table tbody td {
  padding: 10px 15px;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
}

.styled-table tbody tr {
  color: #ffffff;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #008585;
}

.styled-table tbody tr:nth-of-type(odd) {
  background-color: #008080;
}

/* Remove the border-right from the last column */
.styled-table tbody td:last-child {
  border-right: none;
}

.styled-table tbody tr:last-child {
  border-bottom: none;
}