p {
  font-family: Arial;
  color: white;
  background-color: teal;
  font-size: 1.5em;
  text-align: justify;
}

body {
  background-color: teal;
}

/*hyperlink text*/
a {
  color: yellow;
  font-size: inherit;
  font-weight: normal;
}

.dropdown-menu {
  max-height: 30em;
  overflow-y: auto;
}

nav>a {
  color: white;
  font-size: 1.5em;
}

li {
  font-family: Arial;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
}

.dropdown-option {
  font-size: 1.5em;
  margin-left: 0px;
  margin-right: 0px;
}

.top-three {
  margin-top: 5em;
  color: white;
}

h1 {
  color: white;
  margin-top: 1em;
  margin-bottom: 0.5em;
  text-align: center;
  font-family: Arial;
  background-color: teal;
  font-size: 3em;
}

h2 {
  color: white;
  margin-top: 1em;
  margin-bottom: 0.5em;
  text-align: left;
  font-family: Arial;
  font-size: 2em;
}

h3 {
  color: white;
  margin-top: 1em;
  margin-bottom: 0.5em;
  text-align: left;
  font-family: Arial;
  font-size: 1.5em;
}

.primary {
  margin-left: 100px;
  margin-right: 100px;
  overflow: auto;
}

/*For the flask messages*/
p.error {
  color: yellow
}

.float-parent-element {
  width: 50%;
}

.float-child-element-1 {
  float: left;
  width: 30%;
}

.float-child-element-2 {
  float: left;
  width: 70%;
}

.headings {
  color: white;
  margin-left: 20px;
  margin-right: 20px;
}

dd {
  margin-left: 20px;
  margin-right: 20px;
}

/* new table stuff */
/* inspired heavily by https: //dev.to/dcodeyt/creating-beautiful-html-tables-with-css-428l */

.styled-table {
  border-collapse: separate;
  /* Keep this for border-radius to work */
  margin: 25px 0;
  font-family: Arial;
  color: white;
  font-size: 1.2em;
  font-family: sans-serif;
  border-spacing: 0;
  border-radius: 10px;
  overflow: hidden;
  /* Ensures the border-radius affects children elements */
  border: 3px solid white;
}

.styled-table thead {
  overflow: separated;
}

.styled-table thead tr {
  background-color: white;
  color: rgb(185, 122, 181);
  /* color: #008585; */
}

.styled-table thead th {
  padding: 10px;
  text-align: left;
}

.styled-table thead th:first-child {
  border-top-left-radius: 0px;
  /* Apply radius to the first th in the row */
}

.styled-table thead th:last-child {
  border-top-right-radius: 0px;
  /* Apply radius to the last th in the row */
}

.styled-table th {
  padding: 10px 15px;
}

.styled-table tbody td {
  padding: 10px 15px;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
}

.styled-table tbody tr {
  color: #ffffff;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #008585;
}

.styled-table tbody tr:nth-of-type(odd) {
  background-color: #008080;
}

/* Remove the border-right from the last column */
.styled-table tbody td:last-child {
  border-right: none;
}

.styled-table tbody tr:last-child {
  border-bottom: none;
}

.table-container {
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
}


/* Better bokeh plots */
.plot-container {
  background-color: #ffffff;
  /* Optional background color */
  padding: 0px;
  border-radius: 10px;
  /* Padding inside plot container */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  /* Ensure proper positioning */
  max-width: 100%;
  min-width: 800px;
  /* Minimum height for each plot container */
}

.plot-item {
  width: 100%;
  /* Full width of the container */
  height: auto;
  /* Height adjusts based on plot content */
}

.grid {
  margin-left: 100px;
  margin-right: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* Start with a 2x2 grid */
  gap: 20px;
  /* Space between plots */
}

@media (max-width: 1200px) {

  /* Adjust the max-width based on your needs */
  .table-container {
    flex-direction: column;
  }
}

@media (max-width: 1600px) {

  .grid {
    grid-template-columns: repeat(1, 1fr);
  }

}

/* Forms */
.new-margin {
  margin-left: 80px;
  margin-right: 80px;
}

/* Buttons */
.shift-up {
  position: relative;
  top: -3px;
  /* Adjust the value as needed */
}